<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">松松糖果屋</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <a class="nav-link" href="#">Books<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>
      <!-- <li class="nav-item dropdown" *ngIf="isLogin">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My Orders</a>
          <a class="dropdown-item" href="#">Manage Book</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li ngbDropdown class="d-inline-block" *ngIf="isLogin"> 
        <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>User</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">My Orders</button>
          <button class="dropdown-item">ManageBook</button>
          <button class="dropdown-item">Logout</button>
        </div>
      </li>
    </ul>
    <form class="form-inline nav-item my-2 my-lg-1">
      <a class="nav-link" href="#">Login</a>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>

