<div class="col-md-6 col-md-offset-3" >
    <h2>Login</h2>
    <form class = "">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="email" name="userName"  id="userName" class = "form-control" placeholder="Email Address">
        </div>
        <div class="form-group col-md-6">
          <input type="password" class="form-control"  name= "password"  placeholder="Password">
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>